USE [master]
GO
/****** Object:  Database [taobang220205]    Script Date: 22/01/2026 5:41:36 PM ******/
CREATE DATABASE [taobang220205]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'taobang220205', FILENAME = N'c:\databases\taobang220205\taobang220205.mdf' , SIZE = 8192KB , MAXSIZE = 20971520KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'taobang220205_log', FILENAME = N'c:\databases\taobang220205\taobang220205_log.ldf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [taobang220205].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [taobang220205]
GO
/****** Object:  Table [dbo].[students]    Script Date: 22/01/2026 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [email]) VALUES (1, N'Nguyen Van An', N'a@gmail.com')
INSERT [dbo].[students] ([id], [name], [email]) VALUES (2, N'Tran Thi B', N'b@gmail.com')
INSERT [dbo].[students] ([id], [name], [email]) VALUES (3, N'Lê Van C', N'c@gmail.com')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
USE [master]
GO
